<div class="center-all">


    <div class="lilo-container">
        <img class="lilo" src="img/stich-dancing-fixed.gif" alt="">

        <div class="center-text">
            <h1 class="first-text">FELIZ& </h1>
            <h1>ANIVERSARIO</h1>
        </div>

        <img class="lilo" src="img/stich-dancing-flipped.gif" alt="">

    </div>
</div>



<div>
    

    <!--
    <p>Pagina de teste</p>

    <button class="button1">Botão</button>
    <button class="button2">Botão</button>
    <br>
    -->

    <div class="container">
        <img src="img/FotoBia3.jpg">
        <p>Feliz aniversário Bia que você possa realizar tudo que você sempre mais sonhou :) </p>
    </div>
    
    <div class="container">
        <p>Apesar da distancia eu continuo me importando bastante com você</p>
        <img src="img/FotoBia2.jpg">
    </div>
  
    <div class="container">
        <img src="img/FotoBia1.jpg">
        <p>Apesar da distancia eu continuo me importando bastante com você</p>
    </div>

</div>