<div class="center-all">

    <br>
    <h3 class="center-text">A Tartaruga Sabia </h3>

    <br> <br>


    <img src="img/tartaruga.webp" class="img-bigger">
    {{#if answer}}
    <p>A tartaruga disse:</p>

    <b><p class="center-text"> {{answer}}</p> </b>


    <br> <br> 
    <a href="tartaruga">
        <button class="button2">Voltar</button>
    </a>

    {{else}}
    <p class="center-text">Faça a pergunta em voz alta e depois clique no botão para receber sua resposta</p>
    <br>
    <button class="button2" onclick="location.href='/tartaruga?resposta=true'"> <b>Pergunte a grande Tartaruga
        Sábia </b></button>
    {{/if}}
</div>