<div class="center-all">

    <br>
    <p>A Tartaruga Sabia </p>

    <br> <br>


    {{#if answer}}
    {{answer}}

    {{else}}
    <button class="button2" onclick="location.href='/tartaruga?resposta=true'">Pergunte a grande Tartaruga
        Sábia</button>
    {{/if}}
</div>