* {
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'stich';
    src: url('/fonts/BukaBird.ttf')
}


@font-face {
    font-family: 'playnets';
    src: url('/fonts/Playnets.ttf')
}
body {
    background-color: rgb(204,241,255);
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat
}

hr {
    border: 2px solid rgb(236, 24, 24);
}

h1,h2,h3{
    color: rgb(236, 24, 24);
    font-family: 'stich', sans-serif;
    text-shadow: 2px 4px 0px black;

}

h1 {
    font-size: 90px;

}

h2{
    font-size: 60px;
}

h3{
    font-size: 45px;
}


p {
    color: rgb(0, 29, 79);
    font-size: 20px;
    font-family: 'playnets';
    margin-left: 5px;
}

.lilo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1200;
    gap: 20px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: center;
    bottom: 100%;
    
}
.lilo {
    width: 200px;
    height: 220px;
}



.button1 {
    background-color: rgb(0, 39, 144);
    border: none;
    width: 110px;
    height: 40px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 12px;
}

.button2 {
    background: none;
    border: solid 1px;
    border-color: rgb(0, 29, 79);
    width: 200px;
    height: 60px;
    color: rgb(0, 29, 79);
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 12px;
}



.center-text {
    text-align: center;
}

.center-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin{
    margin-top: 30px;
    bottom : 0;

}


.cueca{
    font-size: 180px;
}

a{
    text-decoration: none;
}
@media(max-width:600px) {
    .lilo {
        width: 80px;
        height: 88px;
        margin-left: -32px;
        margin-right: -32px;
    }

    h1 {
        font-size: 35px;
    }

    h2{
        font-size: 30px;
    }


    img {
        width: 200px;
        padding: 9px;
    }

    .img-bigger{
        width: 320px;
    }

    button {
        width: 120px;
        height: 40px;
        font-size: 12px;
        
    }

    .button1.button-margin{
        margin-bottom: 20px;
    }

}