<br> <br>

<h1>O MELHOR QUIZ DO MUNDO: </h1>
<br><br>



<h1>{{question.text}}</h1>
<br>    

<form method="post">

{{#each question.alternatives}}
    <button class="button2" type="submit" formaction="/verifyquestion?id={{../question.id}}&button={{@key}}">{{this}}</button> <br>
{{/each}}
 

</form>
