<br> <br>

<h2>O MELHOR QUIZ DO MUNDO: </h2>
<br><br>



<h2>{{question.text}}</h2>
<br>    

<form method="post">

{{#each question.alternatives}}
    <button class="button2" type="submit" formaction="verifyquestion?id={{../question.id}}&button={{@key}}">{{this}}</button> <br>
{{/each}}
 


</form>



<div class="margin">
<a href="/resetquiz">
    <button class="button1 button-margin" >Reiniciar</button>
</a>

</div>

